@font-face {
    font-family: "SUIT";
    font-weight: normal;
    src: url("../../assets/fonts/SUIT.css") format("truetype");
}

html{
/*전체 영역*/
background-color: lightgray;
height: 844px;

}

body {
/* 화면 영역  */
text-align: center;
width: 1127px;
height: 2420px;
background-color: white;
margin: auto;
font-family: "SUIT";
}
  
.Result{
    background-image: url("../../assets/result/result_background.svg");
    width: 1127px;
    height: 2420px;
}

/*타이틀*/
h1{
font-size: 62px;
font-weight: bolder;
font-family: "SUIT";
color: #4F2789;
padding-top: 295px;
margin-bottom: 151px;
}

/*메인 메뉴 스타일*/
.mainMenu{
    width: 870px;
    height: 903px;
    margin-bottom: 151px;
    position: relative;
}

.mainMenuBox{
    margin-left: 130px;
}

.resultFood{
    width: 600px;
    height: 700px;
    position: relative;
    left: 150px;
    top: -850px;
}

.foodNameBox{
    width: 700px;
    height: 100px;
    position: relative;
    left: 220px;
    top: -860px;
    
}

.foodName{
    font-size: 62px;
    font-weight: bold;
    font-family: "SUIT";
    color: #4F2789;
}

/*하단 메뉴 스타일*/
.menu{
    display: flex;
    flex-direction: row;
    margin-bottom: 100px; 
}

/* 하단 왼쪽 박스 */
.sideMenu{
    width: 488px;
    height: 464px;
    margin-left: 54px;
    position: relative;
}

/* 하단 오른쪽 박스 */
.similarMenu{
    width: 488px;
    height: 464px;
    margin-left: 55.5px;
    position: relative;
}

/* 상단 글씨 */
h2{
    font-size: 45px;
    color: #4F2789;
    position: relative;
    top: -457px;
}

/* 하단 이미지*/
.sideMenuImg{
    width: 300px;
    height: 300px;
    position: relative;
    top: -500px;
    left: 30px;
}

/* 하단 글씨*/
.menuName{
    font-size: 30px;
    font-weight: bold;
    color: #4F2789;
    position: relative;
    top: -460px;
    left: -160px;

}


/*다시하기 버튼 스타일*/
.reTestBtn{
    position: relative;
}

h3{
    font-size: 50px;
    font-weight: bold;
    color: white;
    position: relative;
    top: -175px;
}

@media screen and (max-height: 1550px){
  body{
    width: 710px;
    height: 1550px;
  }
  .Result{
    width: 710px;
    height: 1550px;
  }
}